/*

!.gitignore
!README.MD

!admin/controller/payment/concordpay.php
!admin/language/en-gb/payment/concordpay.php
!admin/language/ru-ru/payment/concordpay.php
!admin/language/uk-ua/payment/concordpay.php

!admin/view/image/payment/concordpay.png
!admin/view/image/payment/concordpay.svg

!admin/view/template/payment/concordpay.tpl

!catalog/controller/payment/concordpay.php
!catalog/language/en-gb/payment/concordpay.php
!catalog/language/ru-ru/payment/concordpay.php
!catalog/language/uk-ua/payment/concordpay.php

!catalog/model/payment/concordpay.php
!catalog/view/theme/default/template/payment/concordpay.tpl

!image/payment/concordpay.png
!image/payment/concordpay.svg